        /* Default theme */
        body {
            background-color: #333333;
            color: #000000;
            text-align: center;
            font-family: 'Archivo Black';font-size: 22px;
            border-left:#000000  20px;
            border-right: #ffffff 20px;
        }
        .drop {
            background-color: #000000;
            color: #ffffff;
            border: 2px solid #ffffff;
            border-color: #000000;
            border-radius: 20px;
        }
            /* Theme 1 */
        body.theme1 .drop {
            background-color: #ffffff;
            color: #000000;
            border-color: #000000;
        }
        /* Theme 2 */
        body.theme2 .drop {
            background-color: #017ea8;
            color: #000000;
            border-color: #000000;
        }
        /* Theme 3 */
        body.theme3 .drop {
            background-color: #091833;
            color: #0abdc6;
            border-color: #711c91;
        }
/*
        body.theme5 .drop {
            background-color: #d641fc;
            color: #f5f5f5;
            border-color: rgba(228, 131, 252, 0.753);
        }
  */  
        /* Theme 1 */
        body.theme1 {
            background-color: #f5f5f5;
            color: #333333;
        }
        
        /* Theme 2 */
        body.theme2 {
            background-color: #017ea8;
            color: #333333;
        }
        
        /* Theme 3 */
        body.theme3 {
            background-color: #091833;
            color: #711c91;
        }
        
        
        /* Theme 5 
        body.theme5 {
            background-image:url("https://spejle.github.io/catgirldance.gif");
            color:black;
            background-size: 120ch;
        }
            */

        .swing {
            animation: swingAnimation .5s;
        }

        p {
            animation: flyInAnimation 1s;
        }

        h1 {
            animation: flyInAnimation 1s;
        }

        @keyframes swingAnimation {
            0% {
            transform: rotate(0deg);
            }

            100% {
            transform: rotate(360deg);
            }
        }

        
        @keyframes flyInAnimation {
            0% {
                transform: translateX(-100%);
                opacity: 0;
            }

            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }


        
